@model WebProje1.Models.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">

                            <div class="text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                     style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">ELEŞTİRİHUB</h4>
                            </div>

                            <form asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                                

                                <div class="form-outline mb-4">
                                    <span asp-validation-for=" kullaniciEmail" class="text-danger small"></span>
                                    <input asp-for=" kullaniciEmail" type="email" class="form-control"
                                           placeholder="Email Adress" />
                                    <label class="form-label" asp-for=" kullaniciEmail">Username</label>
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <span asp-validation-for="KullaniciSifre" class="text-danger small"></span>
                                    <input asp-for="KullaniciSifre" type="password" class="form-control" placeholder="*******" />
                                    <label class="form-label" asp-for="KullaniciSifre">Password</label>
                                    
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
                                        Log
                                        in
                                    </button>
                                    <br />
                                    <a class="text-muted" href="#!">Forgot password?</a>
                                </div>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account?</p>
                                    <a asp-action="Kayit" role="button" class="btn btn-outline-danger">Create new</a>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4 align-items-center">
                            <h2 class="mb-4" style="text-align:center">HOŞGELDİNİZ</h2>
                            <p style="text-align:center">.........................................................................................................................</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

