html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

nav {
    border-bottom-color:
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.loginCard {
    border-radius: 10px;
}

.loginIcon {
}

.jumbotronCard {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#imgLabel {
    border: 5px solid gray;
    border-radius: 10px;
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

#inputImg {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.movieImg{
    height:30rem;
}



/*
    .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;

}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label {
    cursor: pointer;
}
.inputfile + label * {
    pointer-events: none;
}

*/



@media screen and (max-width: 600px) {
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .loginCard {
        width: 350px;
    }
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#ba31e8, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
